:root {
  --primary-color: #1b1b1b;
  --secondary-color: #ffffff;
  --heading-family-font: "Roboto", sans-serif;
  --basic-family-font: "Roboto", sans-serif;
}
body {
  text-align: center;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 160px 20px;
}
.header-1 {
  margin-bottom: 50px;
  background-image: url(/images/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 250px;
}

h1 {
  font-family: var(--heading-family-font);
  font-weight: 700;
  font-style: bold;
  font-size: 72px;
  line-height: 2;
}
h3 {
  font-family: var(--heading-family-font);
  font-weight: 700;

  font-size: 24px;
  line-height: 100%;
}
h5 {
  font-size: 18px;
  color: #f65282;
}

p {
  font-family: var(--basic-family-font);
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
}

.btn-branding {
  padding: 18px 30px;
  background: var(--secondary-color);
  border-radius: 50px;
  color: var(--primary-color);
  text-decoration: none;
}
.btn {
  margin-top: 20px;
  padding: 10px 30px;
}
.camera {
  background: #2d2727;
  border-radius: 20px;
}

.equal-img {
  height: 240px;
  width: 400px;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.grid-text {
  text-align: left;
}

@media (max-width: 800px) {
  .header-1 {
    padding: 100px 20px;
    background-position: center;
  }
  h1 {
    font-size: 36px;
  }
  h3 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }
  .btn-branding {
    padding: 9px 15px;
    font-size: 12px;
  }

  .equal-img {
    height: 200px;
    width: 350px;
  }
  .grid-wrapper {
    grid-template-columns: 1fr;
  }
}
